*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: linear-gradient(to right, #e6f5f7, #b7d9ff, #85f7ff, #3ea8ff);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img{
  height: auto;
  width: 70px;
}

ul {
  list-style: none;
  display: flex;
  gap: 100px;
  font-family: sans-serif;
}

li {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #333;
}

.search-bar {
  display: flex;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #ff6b00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}