/* src/components/Footer/Footer.css */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
    text-align: center;
    padding: 15px;
    background: linear-gradient(to right, #e6f5f7, #b7d9ff, #85f7ff, #3ea8ff); /* Cor de fundo */
    position: relative;
    bottom: 0;
    width: 100%;
}
  