body {
  overflow-x: hidden;
}

h1{
  margin: 10px;
}

.background-main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    max-width:100%; /* Para garantir que a imagem não ultrapasse o tamanho do container */
    height: auto; /* Mantém a proporção da imagem */
}

.job-container {
  max-height: 500px; /* Altura máxima da área de visualização */
  overflow-y: auto;  /* Ativa o scroll apenas na vertical */
  padding-right: 10px; /* Evita o corte do conteúdo quando o scroll aparece */
}

.job-card {
  border: 1px solid #0f0f0f;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* background: linear-gradient(to right, #cfe2ff, #a3d6fd); */
  background: #fff;
  width: 300px; /* Define a largura dos cards */
  flex-grow: 1; /* Permite que os cards cresçam proporcionalmente */
}

.job-list {
  display: flex; 
  flex-wrap: wrap; /* Permite quebrar para a próxima linha */
  gap: 5px; /* Adiciona espaçamento entre os cards */
  justify-content: space-between; /* Distribui os cards igualmente */
  padding: 0;
  list-style: none;
}

.job-list li {
  flex-basis: calc(33.333% - 20px); /* Cada card ocupa 1/3 do espaço, com margem de 20px */
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .job-list li {
    flex-basis: calc(50% - 20px); /* Para telas menores, 2 cards por linha */
  }
}

@media (max-width: 600px) {
  .job-list li {
    flex-basis: 100%; /* Para telas pequenas, 1 card por linha */
  }
}

.job-card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.job-card p {
  margin: 0;
  padding: 3px;
}

.job-card span {
  color: #6b6b6b;
}
